* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }


/* styles.css */

body {
  background-color: #e1dee1;
  }
  
  .memory-game {
    width: 50%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  

.card{
    width: calc(100%/5);
    height: 300px;
    padding: 10px;
    overflow: hidden;
    background-color: #6f8ea5;
    margin: 10px;
  }

.card img{
    width: 100%;
    height: 100%;
    /* visibility: hidden; */
}

p{
  display: flex;
  justify-content: center;
}
#startButton,#resetButton{
  padding: 15px;
  border: none;
  background-color: darkcyan;
  cursor: pointer;
  font-size: 16px;
  margin: 10px; 
}

#movesCount,#timer{
  text-align: center;
  font-size: 25px;
  margin: 10px;
}